<div class="col-md-3">
  <h2>User info</h2>

<%= image_tag user.get_profile_image(100,100) %>
<table class="table">
  <tbody>
    <tr></tr>
    <p>name：<%= user.name %></p>
    <p>introduction：<%= user.introduction %></p>
  </tbody>
</table>

<div class="row">
<%= link_to edit_user_path(user.id), class: 'btn btn-outline-secondary btn-block' do %>
  <i class="fas fa-user-cog"></i>
<% end %>
</div>

<h2 class="mt-3">New book</h2>
  <%= form_with model: book do |f| %>
    <h4>Title</h4>
      <%= f.text_field :title %>
    <h4>Opinion</h4>
      <%= f.text_area :body %>
    <%= f.submit 'Create Book', class: 'btn btn-success' %>
  <% end %>
</div>